@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .align-elements {
    @apply mx-auto w-full max-w-6xl px-5;
  }
}

html,
body,
#root {
  height: 100%;
  background-image: url("https://group.koni.com/getmedia/6b6993d3-e220-4b53-a094-c8e5f049bcc9/Bus-Grey-Orange-1500x1000.jpg?width=1500&height=1000&ext=.jpg");
}

#root {
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}
